:root {
  --color-background: #f9f7f9;
  --color-primary: #000;
  --color-secondary: #ffb718;
}
*{
  box-sizing: border-box;
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
}

header{
  display:flex;
  justify-content: center;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 60%;
  height: 4rem;
  border-bottom: 4px dashed var(--color-secondary);
  background-color: var(--color-background);
  position: fixed;
  top: 0;
}
.nav-bar ul li{
  list-style: none;
  display: inline-block;
  padding: 0px 1rem;
}
.nav-bar a{
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: all 0.5s ease 0s;
}
.nav-bar a:hover{
  color: var(--color-secondary);
}
.main, .footer{
  padding: 3rem 20%;
  
}