@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

:root {
  --color-background: #f9f7f9;
  --color-background-box: #eeeeee;
  --color-background-hover: #cecece;
  --color-font: #000;
  --color-secondary: #ffb718;
  --color-img-profile: #fefefe;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: var(--color-background);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-font);
}
.main {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 60%;
  border-bottom: 4px dashed var(--color-secondary);
}
.footer {
  margin: 0 auto;
  max-width: 60%;
}
/* index.html style */
.biography {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 32px;
  border-bottom: 4px dashed var(--color-secondary);
}
.biography img {
  margin-top: 2rem;
  max-height: 240px;
  outline: 8px solid var(--color-img-profile);
  outline-offset: -8px;
  border-radius: 100%;
  box-shadow: var(--shadow);
}
/* projects style */
.container-projects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.box-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: var(--color-background-box);
  transition: all ease-in-out 0.3s 0s;
}
.box-project:hover {
  background-color: var(--color-background-hover);
}
.box-project img,
.box-project p {
  object-fit: cover;
  width: 80%;
  height: 80%;
}
/* agrega tema oscuro si el usuario lo tiene predeterminado */
@media (prefers-color-scheme: dark) {
  /* paleta de colores */
  :root {
    --color-background: #121212;
    --color-background-box: #222222;
    --color-background-hover: #121212;
    --color-font: #efefef;
    --color-secondary: #0b6625;
    --color-img-profile: #444444;
    --shadow-hover: 0px 0px 16px rgba(255, 255, 255, 0.5);
  }
  * {
    font-weight: 300;
  }
  img {
    filter: brightness(0.8) contrast(1.2);
  }
  /*nav-bar */
  .nav-bar {
    background-color: var(--color-background-box);
  }
  .nav-bar a:hover {
    background-color: var(--color-background);
    box-shadow: var(--shadow-hover);
  }
  /* hover project box */
  .box-project:hover {
    box-shadow: var(--shadow-hover);
  }
  /* contact cards */
  .container-card:hover {
    box-shadow: var(--shadow-hover);
  }
  .github:hover {
    background-color: var(--color-background);
  }
}
/*:TODO HACER 767px responsive*/
